html,
body,
ul,
li,
input,
dl,
dt,
dd {
    margin: 0; padding: 0; outline: 0;
}

li {
    list-style: none;
}

body {
    font: 16px/22px 'helvetica-neue', 'Helvetica Neue', Helvetica, Arial, Sans-Serif; background: #E9E9E9;
}

#viewport {
    width: 440px; background: #fff; margin: 40px auto;
}

.component-task-form {

}

.component-task-form input {
    background: #4054B2; display: block; border: none; font: inherit; height: 84px; width: 400px; padding: 0 20px; font-size: 20px; color: #fff;
}

.component-task-form button {
    display: none;
}

.component-todo-item {
    min-height: 84px; border-bottom: 1px solid #ccc;
}

.component-todo-item > .name {
    float: left; padding: 20px; display: block;
}

.component-todo-item > .toggle-status {
    float: right; width: 84px; height: 84px; cursor: pointer; background: #F44336;
}

.component-todo-item.status-done > .toggle-status {
    background: #4CAF50;
}

.component-task-stats {
    overflow: hidden; height: 84px;
}

.component-task-stats dl {
    display: block; overflow: hidden; padding: 20px;
}

.component-task-stats dt,
.component-task-stats dd {

}

.component-task-stats dt {
    float: left; margin: 0 5px 0 0;
}

.component-task-stats dd {

}
